@charset "utf-8";
body {font-size:12px;font-family:"微软雅黑",Arial, Helvetica, sans-serif;background:#fff;}
body.index {background:#f9f9f9;}
* {margin:0;padding:0;}
img{transition:.5s;}
li {list-style:none;}
img {border:none;display:block;}
i,em {font-style:inherit;}
.clear {clear:both;}
.mtop10 {margin-top:10px;}
a {color:#000;text-decoration:none;}
a:hover {color:#d20000;}
.clearh {clear:both;height:50px;}
*:focus { outline: none; } 
.aac{line-height: 28px;
    font-size: 14px;}
.topbg{width:100%;height:30px;border-bottom:2px solid #ddd;}
.top{width:100%;max-width:1200px;margin:0 auto;line-height:30px;font-size:14px;color:#555;text-align:right;}
.top i{float:left;padding-left:10px;background:url(../images/ico01.jpg) no-repeat 0 center;}
.head{width:100%;height:95px;max-width:1200px;margin:0 auto;position:relative;z-index:1;}
.logo{float:left;max-width:26%;}
.logo img{max-width:100%;margin-top:8px;}
.t-text{font-size:16px;color:#294b65;display:inline-block;position:absolute;right:0;top:50px;z-index:11;}
.zxbm{display:inline-block;padding:3px 20px;font-size:14px;color:#fff;background:#a40000;border-radius:5px;position:absolute;right:0;top:15px;z-index:11;}
.nav{width:100%;height:40px;background:#a40000;box-shadow:0 -4px 4px 1px rgba(0,0,0,.2);}
.nav ul{width:100%;max-width:1200px;margin:0 auto;}
.nav ul li{width:10%;float:left;text-align:center;}
.nav ul li a{display:block;font-size:16px;line-height:36px;height:36px;margin-top:2px;color:#fff;}
.nav ul li.on a,.nav ul li a:hover{background:#fff;color:#a40000;}
.sl7-a{width:100%;max-width:1200px;margin:40px auto 20px;}
.sl7-a dl{width:270px;height:110px;float:left;margin-right:30px;position:relative;z-index:1;}
.sl7-a dl dt{width:85px;height:110px;position:absolute;left:0;top:0;z-index:11;}
.sl7-a dl dd{margin-left:85px;font-size:16px;color:#555;}
.sl7-a dl dd h2{font-size:16px;color:#555;border-bottom:1px dashed #333;padding:0 0 3px;margin-bottom:10px;}
.sl7-a dl dd a{font-size:16px;color:#555;padding:0 4px;display:inline-block;margin:1px 0;}
.sl7-a dl dd a:hover{color:#c00;}
.sl7-a dl.sl7-a-dld{margin:0;}
.sl7-a dl.sl7-a-dla dt{background:url(../images/p01.png) no-repeat 0 0;}
.sl7-a dl.sl7-a-dlb dt{background:url(../images/p02.png) no-repeat 0 0;}
.sl7-a dl.sl7-a-dlc dt{background:url(../images/p03.png) no-repeat 0 0;}
.sl7-a dl.sl7-a-dld dt{background:url(../images/p04.png) no-repeat 0 0;}
.sl7-bbg{width:100%;background:#eee url(../images/bg01.jpg) no-repeat center 0;padding:90px 0 70px;}
.sl7-b{width:100%;max-width:1200px;margin:0 auto;}
.sl7-b dl{width:400px;height:400px;float:left;background:#fff;}
.sl7-b dl dt{width:100%;height:200px;overflow:hidden;}
.sl7-b dl dt img{width:100%;height:100%;}
.sl7-b dl dd{padding:0 25px 0 100px;height:200px;font-size:16px;color:#555;line-height:25px;}
.sl7-b dl dd a{color:#a40000;}
.sl7-b dl dd h2{padding:30px 0 5px;border-bottom:2px solid #ddd;margin-bottom:5px;}
.sl7-b dl dd h2 a{font-size:16px;color:#a40000;}
.sl7-b dl.sl7-b-dla dd{background:url(../images/p05.png) no-repeat 20px center;}
.sl7-b dl.sl7-b-dlb dd{background:url(../images/p06.png) no-repeat 20px center;}
.sl7-b dl.sl7-b-dlc dd{background:url(../images/p07.png) no-repeat 20px center;}
.sl7-cbg{width:100%;height:533px;background:#eee url(../images/bg03.jpg) no-repeat center 0;}
.sl7-ca,.psl7-ca{padding-top:75px;background:url(../images/p08.png) no-repeat center 20px;}
.sl7-ca h2,.psl7-ca h2{padding-top:5px;font-size:16px;color:#fff;background:url(../images/bg02.jpg) no-repeat center 0;text-align:center;font-weight:300;}
.sl7-ca h2 span,.psl7-ca span{color:#e6212a;margin:0 10px 0 0;}
.psl7-ca h2{background:url(../images/bg02.png) no-repeat center 0;background-size:50% auto;padding-top:10px;}
.sl7-cb{width:730px;margin:30px auto;text-align:center;font-size:14px;color:#fff;}
.sl7-cb p{padding:10px 0;}
.sl7-cc{width:730px;margin:50px auto;text-align:center;font-size:14px;color:#fff;}
.sl7-cc a{display:inline-block;border:2px solid #fff;padding:5px 20px;font-size:16px;color:#fff;}
.sl7-d{width:100%;max-width:1200px;margin:80px auto;}
.sl7-da{width:800px;height:475px;float:left;border:2px solid #ddd;}
.sl7-da-a{height:50px;border-left:5px solid #e6212a;margin:10px 0 0 -2px;padding-left:25px;font-size:14px;color:#999;}
.sl7-da-a h2{font-size:16px;color:#e6212a;padding:3px 0;}
.sl7-da-b{width:100%;height:345px;margin:20px auto;overflow:hidden;position:relative;z-index:1;}
.sl7-da-b dl{width:200px;height:340px;background:#eee;margin:0 auto;padding-top:20px;}
.sl7-da-b dl dt{width:98px;height:98px;margin:0 auto;border-radius:100%;overflow:hidden;}
.sl7-da-b dl dt img{width:98px;height:98px;}
.sl7-da-b dl dd{width:90%;margin:0 auto;font-size:14px;color:#555;line-height:20px;text-align:left;}
.sl7-da-b dl dd p{padding-top:10px;}
.sl7-da-b dl dd h2{width:100%;height:30px;line-height:30px;font-size:16px;color:#333;font-weight:300;background:url(../images/bg04.jpg) no-repeat center bottom;text-align:center;}
.sl7-da-b dl dd a{display:inline-block;border:1px solid #e6212a;padding:2px 10px;font-size:14px;color:#e6212a;}
.sl7-db{width:375px;height:475px;float:right;border:2px solid #ddd;}
.sl7-db ul{width:325px;margin:0 auto;}
.sl7-db ul li{width:100%;height:25px;line-height:25px;font-size:14px;color:#999;overflow:hidden;margin:10px 0;}
.sl7-ebg{width:100%;padding-top:220px;background:url(../images/bg05.jpg) no-repeat center 0;}
.sl7-e{width:100%;max-width:1140px;margin:0 auto;}
.sl7-ea{width:360px;height:540px;float:left;overflow:hidden;box-shadow:12px 12px 12px 1px rgba(0,0,0,.3);margin-top:-65px;}
.sl7-ea img{width:360px;height:540px;}
.sl7-eb{width:720px;float:right;}
.sl7-eb dl{width:100%;padding-bottom:17px;border-bottom:8px solid #eee;}
.sl7-eb dl dt{width:100px;height:35px;line-height:35px;border-bottom:2px solid #ff0000;font-size:16px;color:#333;}
.sl7-eb dl dd{font-size:14px;color:#555;line-height:22px;padding:10px 0 0;}
.sl7-eb dl dd a{color:#a40000;}
.sl7-eb dl dd i{color:#a40000;}
.sl7-ec{width:100%;padding:30px 0 50px;font-size:14px;color:#a40000;}
.sl7-fbg{width:100%;height:813px;background:url(../images/bg07.jpg) no-repeat center 0;}
.sl7-fa{width:100%;max-width:1200px;margin:0 auto;padding-top:60px;}
.sl7-fa-a{width:700px;height:427px;float:left;background:#fff;}
.sl7-fa-a dl{width:610px;margin:0 auto;}
.sl7-fa-a dl dt{padding-top:40px;width:100%;height:40px;line-height:40px;border-bottom:2px solid #959595;font-size:12px;color:#333;margin-bottom:5px;}
.sl7-fa-a dl dt span{font-size:16px;}
.sl7-fa-a dl dt a{font-size:14px;color:#a40000;float:right;}
.sl7-fa-a dl dd{height:37px;line-height:37px;border-bottom:1px solid #ddd;text-align:right;font-size:14px;color:#333;}
.sl7-fa-a dl dd a{float:left;font-size:14px;color:#333;}
.sl7-fa-a dl dd a:hover{color:#c00;}
.sl7-fa-b{width:480px;height:425px;float:right;}
.sl7-fb{width:1200px;height:237px;margin:30px auto;background:url(../images/bg06.jpg) no-repeat center 0;}
.sl7-fb p{padding:70px 0 0 40px;font-size:16px;color:#fff;line-height:25px;width:620px;}
.sl7-fb h2{padding:20px 0 0 40px;font-size:18px;color:#fff;line-height:35px;font-weight:300;}
.sl7-fb h2 a{padding:2px 10px;font-size:14px;color:#fff;background:#a40000;border:2px solid #fff;margin-right:70px;}
.sl7-gbg{width:100%;background:#a40000;}
.sl7-ga{width:100%;max-width:1200px;margin:0 auto;padding-top:50px;}
.sl7-ga-a{width:415px;float:left;}
.sl7-ga-a .sl-7-galogo{margin-bottom:20px;display:block;}
.sl7-ga-a h2{font-size:20px;color:#fff;padding:15px 0 15px 50px;}
.sl7-ga-a h2.sl7-ga-h2a{background:url(../images/p10.png) no-repeat 0 center;}
.sl7-ga-a h2.sl7-ga-h2b{background:url(../images/p11.png) no-repeat 0 center;}
.sl7-ga-b{width:245px;height:245px;float:left;margin-left:70px;}
.sl7-ga-b img{width:245px;height:245px;}
.sl7-ga-c{width:410px;height:245px;float:right;background:url(../images/bg01.png) no-repeat center 0;}
.sl7-ga-c ul{width:310px;margin:0 auto;padding:30px 0 0;}
.sl7-ga-ctxt{width:240px;height:25px;line-height:25px;margin:28px 0 0 60px;border:none;background:none;font-size:14px;color:#555;}
.sl7-ga-cbut{width:100px;height:25px;border:none;background:none;cursor:pointer;font-size:16px;color:#333;float:right;margin:10px 10px 0 0;}
.sl7-gb{width:100%;padding:15px 0 10px;text-align:center;font-size:14px;color:#fff;border-bottom:1px solid #fff;}
.sl7-gc{width:100%;padding:10px 0;text-align:center;font-size:14px;color:#fff;}
.sl7-gc a{font-size:14px;color:#9c9c9c;}
.fbox{width:150px;padding-top:80px;position:fixed;right:0;top:5%;z-index:99;background:#fff url(../images/bg08.jpg) no-repeat 0 0;background-size:100% auto;border-radius:10px 10px 80px 80px;overflow:hidden;}
.fbox-a{text-align:center;font-size:14px;color:#a40000;font-weight:bold;border-bottom:2px solid #ddd;padding:5px 0;}
.fbox-a p{font-size:16px;}
.fboxm{padding-top:110px;background:url(../images/p08.jpg) no-repeat center 10px;}
.fboxm ul{width:125px;margin:0 auto;}
.fboxm ul li{margin-top:10px;background-color:#a40000;border-bottom:2px solid #680000;}
.fboxm ul li.fboxm-lia{background-image:url(../images/p09.jpg);background-repeat:no-repeat;background-position:right 0;}
.fboxm ul li.fboxm-lib{background-image:url(../images/p10.jpg);background-repeat:no-repeat;background-position:right 0;}
.fboxm ul li.fboxm-lic{background-image:url(../images/p11.jpg);background-repeat:no-repeat;background-position:right 0;}
.fboxm ul li.fboxm-lid{background-image:url(../images/p12.jpg);background-repeat:no-repeat;background-position:right 0;}
.fboxm ul li a{display:block;width:80px;height:40px;line-height:40px;text-align:center;font-size:16px;color:#fff;border-right:2px solid #fff;}
.fbox-b{width:120px;margin:10px auto;text-align:center;font-size:16px;color:#a40000;}
.fbox-b img{width:120px;height:120px;}
.fbox-b p{padding:5px 0;}
.fbox-c{width:100%;background:#a40000 url(../images/p12.png) no-repeat center 10px;height:65px;text-align:center;color:#fff;font-size:16px;cursor:pointer;line-height:60px;}
.sl7-tbox{height:180px;position:absolute;left:0;bottom:10%;z-index:99;}
.sl7-tbox dt{width:74px;height:180px;background:url(../images/net.png) no-repeat 0 0;}
.sl7-tbox dd{width:0px;height:180px;background:rgba(255,255,255,.3);font-size:16px;color:#fff;border-radius:0 10px 10px 0;overflow:hidden;position:absolute;left:74px;top:0;z-index:99;}
.sl7-tbox dd p{padding:30px 20px 0 20px;line-height:25px;}
.sl7-tbox dt.on{background:url(../images/pre.png) no-repeat 0 0;}
.sl7-hbg{width:100%;height:112px;background:url(../images/bg03.png) no-repeat center 0;margin-top:-13px;position:relative;z-index:99;}
.sl7-h{width:100%;max-width:1200px;margin:0 auto;}
.sl7-h span{float:left;width:420px;font-size:16px;color:#fff;line-height:25px;}
.sl7-h span i{font-size:26px;display:inline-block;padding-top:30px;}
.sl7-h ul{float:right;width:735px;padding-top:12px;}
.sl7-h ul li{float:left;height:100px;border-left:2px solid #fff;padding-left:115px;padding-right:40px;font-size:14px;color:#fff;}
.sl7-h ul li b{display:inline-block;padding-top:35px;font-size:18px;}
.sl7-h ul li.sl7-hlia{background:url(../images/p25.png) no-repeat 30px center;border:none;}
.sl7-h ul li.sl7-hlib{background:url(../images/p26.png) no-repeat 35px center;}
.sl7-h ul li.sl7-hlic{background:url(../images/p27.png) no-repeat 35px center;}
.sl7-h ul li.sl7-hlia b{padding-top:30px;}
.sl7-i{width:1200px;margin:40px auto;}
.sl7-ia{width:273px;float:left;}
.sl7-ib{width:830px;float:right;}
.sl7-ia-box{background:#e4e4e4;padding-top:10px;border-radius:5px 5px 0 0;margin-bottom:20px;}
.sl7-ia-box dt{width:295px;height:52px;background:url(../images/tit01.png) no-repeat 0 0;margin-left:-10px;line-height:52px;text-align:right;}
.sl7-ia-box dt a{margin-right:20px;color:#fff;}
.sl7-ia-box dt span{float:left;padding-left:20px;font-size:16px;color:#fff;}
.sl7-ia-box dd{position:relative;z-index:11;top:-10px;}
.sl7-ia-pica{width:100%;}
.sl7-ia-dla dd p{width:95%;height:25px;line-height:25px;overflow:hidden;margin:3px auto;background: url(../images/ico.jpg) no-repeat left;
    text-indent: 23px;border-bottom: 1px #b50021 dashed;}
.sl7-ia-dla dd p a{font-size:14px;color: #1d1919;}
.sl7-ia-ula{width:205px;margin:0 auto;}
.sl7-ia-ula li{margin-top:20px;height:30px;line-height:30px;background:#fff;}
.sl7-ia-ula li span{display:inline-block;width:60px;text-align:center;font-size:14px;color:#fff;background:#a40000;}
.sl7-ia-txt{width:138px;height:30px;line-height:30px;text-indent:5px;color:#555;border:none;background:none;}
.sl7-ia-ula li.sl7-ia-lia{margin-top:10px;height:auto;line-height:22px;background:none;font-size:14px;}
.sl7-ia-diva{width:225px;margin:20px auto;}
.sl7-ia-diva img{width:100%;}
.sl7-ia-diva p{font-size:14px;color:#333;text-align:center;padding-top:10px;}
.sl7-ia-divb{margin:30px auto 0;text-indent:10px;font-size:18px;color:#a40000;font-weight:bold;width:240px;height:50px;line-height:50px;background:url(../images/p28.png) no-repeat 0 0;}
.sl7-ia-divc{margin:10px auto 0;text-indent:10px;font-size:18px;color:#a40000;font-weight:bold;width:240px;height:50px;line-height:50px;background:url(../images/p29.png) no-repeat 0 0;}
.sl7-ia-boxa{background:url(../images/p16.jpg) no-repeat 0 0;height:240px;}
.sl7-ib-a{width:100%;height:30px;line-height:30px;background:#d2d2d2;text-indent:10px;font-size:14px;color:#333;margin-top:20px;}
.sl7-ib-a a{font-size:14px;color:#333;}
.sl7-ib-a a:hover{color:#c00;}
.sl7-ib-a span{float:right;margin-right:10px;}
.sl7-ib-b{width:100%;font-size:14px;color:#333;line-height:25px;padding:10px 0;}
.sl7-ib-b2  li{    float: left;
    line-height: 42px;
    border-bottom: 1px #CCC dashed;
    width: 98%;
    text-align: right;
    color: #666;
    margin-left: 5px;}
	.sl7-ib-b2 li a {
    float: left;
    width: 500px;
    text-align: left;
    background: url(../images/disc.png) left center no-repeat;
    padding-left: 10px;
    color: #333;
    font-size: 14px;
}
.sl7-ib-b img{max-width:100%;margin: 0 auto;height: auto;}
.sl7-ib-c{width:100%;overflow:hidden;}
.sl7-ib-ca{width:100%;height:45px;background:url(../images/bg12.jpg) no-repeat 0 0;text-align:right;}
.sl7-ib-ca a{display:inline-block;padding:1px 5px;border:1px solid #a40000;font-size:12px;color:#a40000;border-radius:5px;margin:5px 5px 0 0;}
.sl7-ib-ca span{float:left;width:95px;text-align:center;font-size:16px;color:#fff;line-height:30px;}
.sl7-ib-c ul{width:110%;}
.sl7-ib-c ul li{width:380px;height:30px;line-height:30px;border-bottom:1px dashed #aaa;font-size:14px;color:#555;float:left;margin-right:70px;}
.sl7-ib-c ul li span{float:right;}
.sl7-ia-but{background:#a40000;width:100%;height:30px;border:none;font-size:14px;color:#fff;cursor:pointer;}

.text-center{ text-align:center;}
.pc{display:block;}
.phone{display:none;}
.pc1{display:block;}
.phone1{display:none;}
.clear{clear:both;}
.txt_tit {
    font-size: 14px;
   
    border-bottom: 1px dashed #CCC;
   
    line-height: 30px;
    width: 98%;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}
h2{ font-size:16px;}

.nei_pic  li{ width: 31%;  padding-left:8px; padding-right:8px; float:left; padding-bottom:8px; }
.nei_pic  li img{ width:100%; height:200px; border:1px #CCC solid; padding:2px; }

.pagelist {
    display: inline-block;
    padding-left: 0;
	margin-top: 10px; 
    border-radius: 4px;
}
.pagelist li{ display:inline;     position: relative;
   
    color: #337ab7;
	  padding: 6px 12px;
	   border: 1px solid #ddd;
	    margin-left: -5px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
   }
.pagelist li a{ font-size:14px;  color: #337ab7; 
    }
.pagelist li select{border: 0px solid;  }
.sl7-ib-b tr{height: 35px;    
    line-height: 35px;}
@media (max-width:1280px) {
.pc1{display:none;}
.phone1{display:block;}
.htop{width:100%;max-width:750px;margin:0 auto;height:35px;line-height:35px;border-bottom:1px solid #ddd;font-size:14px;color:#555;text-indent:10px;}
.htopa{width:100%;max-width:750px;margin:0 auto;padding:5px 0;position:relative;z-index:1;padding-bottom: 12px;}
.htopa .logo{width:60%;max-width:400px;float:none;display:block;}
.htopa .logo img{width:100%;}
.pbddh{display:inline-block;padding:2px 30px;background:#a40000;font-size:14px;color:#fff;position:absolute;right:10px;top:40%;z-index:11;border-radius:5px;}
.nav.phone1{max-width:750px;margin:0 auto;}
.nav.phone1 li{width:25%;}
.nav.phone1 li a{width:90%;margin:2px auto;font-size:14px;}
.pnav{width:100%;max-width:750px;margin:0 auto;}
.pnav li{width:25%;float:left;text-align:center;padding:10px 0;}
.pnav li a{display:block;width:100%;padding-top:38px;font-size:14px;color:#555;}
.pnav li a.pnav-a{background:url(../images/p13.png) no-repeat center 0;background-size:35px auto;}
.pnav li a.pnav-b{background:url(../images/p14.png) no-repeat center 0;background-size:35px auto;}
.pnav li a.pnav-c{background:url(../images/p15.png) no-repeat center 0;background-size:35px auto;}
.pnav li a.pnav-d{background:url(../images/p16.png) no-repeat center 0;background-size:35px auto;}
.psl7-a{width:100%;max-width:750px;margin:0 auto;background:#e4b2b2;text-indent:10px;padding:5px 0;font-size:14px;color:#333;}
.psl7-b{width:100%;max-width:750px;margin:20px auto;}
.psl7-b-dla{width:38%;height:347px;float:left;background:#b4003b;margin:0 1%;border-radius:5px;overflow:hidden;}
.psl7-b-dlb{width:59%;height:170px;float:left;background:#d37225;margin-bottom:7px;border-radius:5px;overflow:hidden;position:relative;z-index:1;}
.psl7-b-dlc{width:59%;height:170px;float:left;background:#658bae;border-radius:5px;overflow:hidden;position:relative;z-index:1;}
.psl7-b-dla dt{padding-left:65px;height:60px;line-height:60px;font-size:16px;color:#fff;background:url(../images/p17.png) no-repeat 10px center;background-size:45px auto;border-bottom:1px solid #dcdcdc;}
.psl7-b-dla dd{padding:10px;line-height:25px;font-size:14px;color:#fff;}
.psl7-b dl a{font-size:14px;color:#fff;}
.psl7-b-dlb dt,.psl7-b-dlc dt{width:65px;height:100%;background:url(../images/p18.png) no-repeat 10px center;background-size:45px auto;position:absolute;left:0;top:0;z-index:11;}
.psl7-b-dlc dt{background:url(../images/p19.png) no-repeat 10px center;background-size:45px auto;}
.psl7-b-dlb dd,.psl7-b-dlc dd{margin-left:65px;padding:10px;}
.psl7-b-dlb dd h2,.psl7-b-dlc dd h2{padding:5px 0;line-height:25px;font-size:16px;color:#fff;border-bottom:1px solid #dcdcdc;}
.psl7-b-dlb dd p,.psl7-b-dlc dd p{padding:5px 0;line-height:23px;font-size:14px;color:#fff;}
.psl7-c{width:95%;margin:20px auto;max-width:750px;height:366px;background:url(../images/bg09.jpg) no-repeat center 0;background-size:100% auto;}
.psl7-cb{padding:0 10%;text-align:center;font-size:14px;color:#fff;}
.psl7-cb p{padding-top:20px;line-height:25px;}
.psl7-cb p a{display:inline-block;padding:2px 10px;border:1px solid #fff;font-size:14px;color:#fff;}
.psl7-cc{width:95%;max-width:750px;margin:20px auto;}
.psl7-cc img{max-width:100%;}
.psl7-d{width:100%;max-width:750px;margin:0 auto;border-top:10px solid #e5e5e5;}
.psl7-dula{width:95%;padding:10px 0 0;margin:0 auto;}
.psl7-dula li{width:19.5%;float:left;height:30px;line-height:30px;text-align:center;font-size:14px;color:#333;position:relative;z-index:1;}
.psl7-dula li tt{width:15px;height:11px;background:url(../images/bg11.jpg) no-repeat 0 0;position:absolute;left:45%;bottom:-10px;z-index:11;background-size:auto 7px;display:none;}
.psl7-dula li.on{border:1px solid #a40000;}
.psl7-dula li.on tt{display:inline-block;}
.psl7-dm{padding-top:10px;}
.psl7-dm dl{width:95%;margin:0 auto;height:200px;position:relative;z-index:1;background:#eee;border-radius:10px;overflow:hidden;display:none;}
.psl7-dm dl dt{width:25%;height:200px;position:absolute;left:0;top:0;z-index:11;overflow:hidden;}
.psl7-dm dl dt img{width:100%;height:200px;}
.psl7-dm dl dd{margin-left:25%;border-left:5px solid #fff;height:100%;}
.psl7-dm dl dd p{font-size:14px;color:#333;line-height:25px;padding:10px 20px;}
.psl7-dm dl dd p a{display:inline-block;background:#a40000;font-size:14px;color:#fff;padding:2px 10px;border-radius:10px;}
.psl7-dm dl.on{display:block;}
.psl7-e{width:100%;max-width:750px;margin:20px auto 0;}
.psl7-e img{width:100%;}
.sl7-eb,.sl7-fa-a{margin:0 auto;max-width:750px;width:95%;float:none;height:auto;}
.psl7-f{margin:20px auto;max-width:750px;width:100%;}
.psl7-f li{width:46%;height:200px;float:left;overflow:hidden;position:relative;z-index:1;margin:10px 0 1px 2.5%;border-radius:5px;}
.psl7-f li img{width:100%;min-height:100%;}
.psl7-f li p{width:100%;height:35px;line-height:35px;background:#a40000;text-align:center;position:absolute;left:0;bottom:0;z-index:11;font-size:14px;color:#fff;}
.psl7-g{width:100%;max-width:750px;margin:20px auto;background:#e5e5e5;padding:10px 0;font-size:12px;color:#555;text-align:center;line-height:25px;}
.sl7-fa-a dl {width:100%;padding:0;}
.sl7-fa-a dl dt{margin:0;padding:0;}
.sl7-fa-a dl dt a{margin-left:10px;}
.psl7-h{width:100%;max-width:750px;margin:30px auto;height:400px;background:url(../images/bg10.jpg) no-repeat center 1px;background-size:auto 100%;}
.psl7-h ul{width:80%;margin:0 auto;}
.psl7-h ul li{margin:0;padding-top:10%;width:100%;}
.psl7-h ul li.psl7-hlia{padding-top:6%;}
.psl7-h ul li.psl7-hlib{padding-top:11%;}
.psl7-htxt{padding:0;width:100%;height:35px;line-height:35px;text-indent:20%;font-size:14px;color:#555;border:none;background:none;}
.psl7-hbut{width:100%;height:35px;border:none;background:none;cursor:pointer;}
.psl7-i{width:100%;max-width:750px;margin:0px auto;background:#a40000;min-height:190px;}
.psl7-i dl{padding:20px 0 10px;}
.psl7-i dl dt{width:30%;float:right;padding:0 10px 0 0;}
.psl7-i dl dt img{max-width:100%;max-height:150px;}
.psl7-i dl dd{margin-left:20px;}
.psl7-i dl dd img{max-width:50%;}
.psl7-i dl dd h2{padding:10px 0 10px 50px;font-size:16px;color:#fff;}
.psl7-i dl dd h2.sl7-ga-h2a{background:url(../images/p10.png) no-repeat 10px center;background-size:30px auto;}
.psl7-i dl dd h2.sl7-ga-h2b{background:url(../images/p11.png) no-repeat 10px center;background-size:30px auto;}
.sl7-i{margin:0;width:100%;}
.sl7-ib{width:100%;float:none;max-width:750px;margin:0 auto;}
.sl7-ib-a{margin:0;color:#a40000;}
.sl7-ib-a a{float:right;color:#a40000;margin-right:10px;}
.sl7-ib-b{width:95%;margin:0 auto;}
.sl7-ib-c{width:95%;margin:0 auto;}
.sl7-ib-c ul{width:100%;}
.sl7-ib-c ul li{width:100%;}
.sl7-ib-d{width:95%;margin:10px auto;height:130px;background:url(../images/bg13.jpg) no-repeat 0 0;background-size:100% auto;}
.sl7-ib-d dl{width:60%;margin:0px auto;padding-top:20px;}
.sl7-ib-d dl dt{font-size:18px;color:#fff;font-weight:bold;margin-bottom:5px;}
.sl7-ib-dtxt{width:60%;height:30px;line-height:30px;background:#fff;border:none;text-indent:10px;font-size:14px;color:#a40000;border-radius:5px;}
.sl7-ib-dbut{width:30%;vertical-align:middle;margin:0 0 5px 10px;}

.mflash{max-width:750px;margin:0 auto;}
.h50w{height:60px;}
.fnav{width:100%;height:60px;background:#fff;position:fixed;left:0;bottom:0;z-index:999;box-shadow:0 -3px 3px 1px rgba(0,0,0,.1);}
.fnav ul{width:100%;max-width:750px;margin:0 auto;}
.fnav ul li{width:25%;float:left;text-align:center;}
.fnav ul li a{display:block;width:100%;font-size:14px;color:#555;padding-top:40px;}
.fnav ul li.fnav-lia a{background:url(../images/p21.png) no-repeat center 7px;background-size:30px auto;}
.fnav ul li.fnav-lib a{background:url(../images/p22.png) no-repeat center 7px;background-size:30px auto;}
.fnav ul li.fnav-lic a{background:url(../images/p23.png) no-repeat center 7px;background-size:30px auto;}
.fnav ul li.fnav-lid a{background:url(../images/p24.png) no-repeat center 7px;background-size:30px auto;}
.fnav ul li.fnav-lia a.on{background:url(../images/p21-on.png) no-repeat center 7px;background-size:30px auto;}
.fnav ul li.fnav-lib a.on{background:url(../images/p22-on.png) no-repeat center 7px;background-size:30px auto;}
.fnav ul li.fnav-lic a.on{background:url(../images/p23-on.png) no-repeat center 7px;background-size:30px auto;}
.fnav ul li.fnav-lid a.on{background:url(../images/p24-on.png) no-repeat center 7px;background-size:30px auto;}
.pfbox-c{width:40px;height:40px;position:fixed;left:0;bottom:60px;z-index:999;background:url(../images/p20.png) no-repeat 0 0;background-size:100% 100%;cursor:pointer;}
}
@media (max-width:760px) {
.psl7-h{max-width:550px;height:300px;background:url(../images/bg10.jpg) no-repeat center 0;background-size:auto 100%;}
.psl7-h ul li{padding-top:10%;}
.psl7-h ul li.psl7-hlia{padding-top:5%;}
.psl7-h ul li.psl7-hlib{padding-top:9%;}
.psl7-htxt{height:30px;line-height:30px;}


}
@media (max-width:600px) {
.psl7-c{background-size:auto 100%;}
.psl7-dm dl dt{width:28%;}
.psl7-dm dl dd{margin-left:28%;}
.psl7-h{max-width:350px;height:200px;}
.psl7-h ul li{padding-top:8%;}
.psl7-h ul li.psl7-hlia{padding-top:2%;}
.psl7-h ul li.psl7-hlib{padding-top:7%;}
.psl7-i dl dd h2{font-size:12px;}
.sl7-ib-d{height:100px;}
.sl7-ib-d dl{padding-top:15px;}
.sl7-ib-d dl dt{font-size:14px;}
.sl7-ib-b2  li span{ display:none;}
.nei_pic  li{ width:45%;}
.nei_pic  li img{ height:8em;}
.sl7-tbox{ display:none;}
.sl7-ib-b2 li a{font-size:12px;width: 100%; }
.logo img{margin-top:0px;}
}
@media (max-width:500px) {
.psl7-dm dl dt{width:32%;}
.psl7-dm dl dd{margin-left:32%;}
.psl7-dula li{font-size:12px;}
.sl7-ib-c ul li span{display:none;}
.sl7-ib-d{height:100px;}
.sl7-ib-d dl{width:60%;padding-top:10px;}
.sl7-ib-d dl dt{font-size:12px;margin-bottom:3px;}
.sl7-ib-dtxt{height:25px;line-height:25px;font-size:12px;}

}
@media (max-width:480px) {
.pbddh{padding:2px 10px;}
.psl7-b-dla,.psl7-b-dlb,.psl7-b-dlc{width:95%;float:none;margin:10px auto;height:auto;}
.psl7-b-dla dd{padding:10px;line-height:25px;font-size:12px;color:#fff;}
.psl7-b-dlb dd p{font-size:12px;}
.psl7-dm dl dd p{font-size:12px;line-height:20px;padding: 10px 10px;}
.psl7-f li{height:160px;}
.sl7-fa-a dl dt i{display:none;}
.sl7-fa-a dl dd span{display:none;}
.psl7-i{min-height:150px;}
.psl7-i dl dd h2{padding:10px 0 10px 30px;}
.psl7-i dl dd h2.sl7-ga-h2a{background:url(../images/p10.png) no-repeat 5px center;background-size:20px auto;}
.psl7-i dl dd h2.sl7-ga-h2b{background:url(../images/p11.png) no-repeat 5px center;background-size:20px auto;}
}
@media (max-width:400px) {
.psl7-dm dl dt{width:35%;}
.psl7-dm dl dd{margin-left:35%;}
.psl7-f li{height:120px;}
.psl7-h{max-width:300px;height:180px;}
.psl7-h ul li{padding-top:7%;}
.psl7-h ul li.psl7-hlia{padding-top:1%;}
.psl7-h ul li.psl7-hlib{padding-top:7%;}
.sl7-ib-d{height:70px;}
.sl7-ib-d dl{width:60%;padding-top:5px;}
.sl7-ib-d dl dt{font-size:12px;color:#fff;font-weight:300;margin-bottom:3px;}
.sl7-ib-dtxt{height:20px;line-height:20px;font-size:12px;}
}
@media (max-width:350px) {
.psl7-dm dl dt{width:38%;}
.psl7-dm dl dd{margin-left:38%;}

}
